{% extends 'base2.html' %}
{% load event_tags %}

{% block header %}
<style>

</style>
{% endblock %}

{% block top_main %}
<div class="col-md-3">
    <h2>
        Choose date
    </h2>    
</div>
<div class="col-md-3">
    <div class="col-md-1 stepy">
        <span class="badge stepy-active">1</span>  
    </div>
    <div class="col-md-1 stepy">
        <span class="badge">2</span>
    </div>
    <div class="col-md-1 stepy">
        <span class="badge">3</span>
    </div>
</div>
{% endblock %}

{% block main %}
<div class="col-md-12 calendar">
    <div class="col-md-3">
        {% event_calendar year month events %}
    </div>
    <div class="col-md-3 col-md-offset-1">
        {% event_calendar year next_month events %}
    </div>

    <div class="col-md-3  col-md-offset-1">
        {% event_calendar year next_next_month events %}
    </div>
</div>
{% endblock %}

{% block footer %}
<script>
</script>
{% endblock %}
