{% extends 'base.html' %}

{% block header %}
<style>
.input-textarea > input {
    color: black;
}
</style>
{% endblock %}

{% block main %}
<h1>Create event</h1>

<form action="#" method="post" role="form" align="left">
    {% csrf_token %}
    {% for inptype in form %}
    <div class="form-group input-textarea">
            <label for="{{ inptype.id_for_label }}">{{ inptype.label }}</label>
            {{ inptype }}
            <span data-tooltip="{{ inptype.help_text }}">?</span>
        </div>
    {% endfor %}
    <button type="submit" value="Create Event" class="btn btn-block btn-default" name="createEvent">Create Event</button>
</form>
{% endblock %}
{% block footer %}
{% endblock %}
