{% extends 'base2.html' %}
<!DOCTYPE html>
{% block header %}
<!-- loads jquery and jquery ui -->
<!-- -->
<!-- <script type="text/javascript" src="{{ STATIC_URL }}calendar/js/jquery-1.11.1.js"></script> -->
<!-- <script type="text/javascript" src="{{ STATIC_URL }}calendar/js/jquery-ui-1.11.1.js"></script> -->
<!-->
<script type="text/javascript" src="{{ STATIC_URL }}calendar/js/jquery-2.1.1.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}calendar/js/jquery-ui-1.11.1.js"></script>
<!-- -->

<!-- loads mdp -->
<script type="text/javascript" src="{{ STATIC_URL }}calendar/js/jquery-ui.multidatespicker.js"></script>

<!-- mdp demo code -->
<script type="text/javascript">
    <!--
    var latestMDPver = $.ui.multiDatesPicker.version;
    var lastMDPupdate = '2014-09-19';

    $(function() {
            // Version //
            //$('title').append(' v' + latestMDPver);
            $('.mdp-version').text('v' + latestMDPver);
            $('#mdp-title').attr('title', 'last update: ' + lastMDPupdate);

            // Documentation //
            $('i:contains(type)').attr('title', '[Optional] accepted values are: "allowed" [default]; "disabled".');
            $('i:contains(format)').attr('title', '[Optional] accepted values are: "string" [default]; "object".');
            $('#how-to h4').each(function () {
                    var a = $(this).closest('li').attr('id');
                    $(this).wrap('<'+'a href="#'+a+'"></'+'a>');
                });
                $('#demos .demo').each(function () {
                    var id = $(this).find('.box').attr('id') + '-demo';
                    $(this).attr('id', id)
                    .find('h3').wrapInner('<'+'a href="#'+id+'"></'+'a>');
                });

                // Run Demos
                $('.demo .code').each(function() {
                    eval($(this).attr('title','NEW: edit this code and test it!').text());
                    this.contentEditable = true;
                }).focus(function() {
                    if(!$(this).next().hasClass('test'))
                        $(this)
                    .after('<button class="test">test</button>')
                    .next('.test').click(function() {
                        $(this).closest('.demo').find('.hasDatepicker').multiDatesPicker('destroy');
                        eval($(this).prev().text());
                        $(this).remove();
                    });
                });
            });
            // -->
</script>

<!-- loads some utilities (not needed for your developments) -->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}calendar/css/mdp.css">
<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}calendar/css/prettify.css"> -->
<script type="text/javascript" src="{{ STATIC_URL }}calendar/js/prettify.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}calendar/js/lang-css.js"></script>
<script type="text/javascript">
    $(function() {
        prettyPrint();
    });
</script>
{% endblock %}



{% block main %}
<div id="my" class="box"></div>

<form action="#" method="post">
    {% csrf_token %}
    <button type="submit" value="" onclick="javascript:mine()" class="btn btn-default" name="dates">Continue</button>
</form>

<script>
    $('#my').multiDatesPicker();

    var mine = function () {
        ids = []; 
        $('td.ui-state-highlight').each(function () { 
            ids.push($(this).attr('data-year') + "/" + $(this).attr('data-month') + "/" + $(this).children()[0].text);
        });
        $("button").attr("value", ids);
    }


    var postit = function(){
        $.post( "/calendar2/", { "name[]": mine()} );
    }
</script>
{% endblock %}
