{% extends 'base2.html' %}
{% load event_tags %}

{% block header %}
<style>

</style>
{% endblock %}

{% block top_main %}
<div class="col-md-4">
    <h2>
        Choose number of products
    </h2>    
</div>
<div class="col-md-3">
    <div class="col-md-1 stepy">
        <span class="badge">1</span>  
    </div>
    <div class="col-md-1 stepy">
        <span class="badge">2</span>
    </div>
    <div class="col-md-1 stepy">
        <span class="badge stepy-active">3</span>
    </div>
</div>
{% endblock %}

{% block main %}
<div class="col-md-12">
    <div class="col-md-6 strategies">
    <form action="#" method="post" role="form" align="left">
        <input type="number" name="schema">
        <button type="submit" class="btn btn-default" name="compute">Compute</button>
    </form>
    </div>
</div>
{% endblock %}

{% block footer %}
<script>
</script>
{% endblock %}
