{% extends 'base2.html' %}

{% block top_main %}
<div class="col-md-3">
    <h2>
        Mails sent
    </h2>    
</div>
<div class="col-md-3">
    <div class="col-md-1 stepy">
        <span class="badge">1</span>  
    </div>
    <div class="col-md-1 stepy">
        <span class="badge">2</span>
    </div>
    <div class="col-md-1 stepy">
        <span class="badge stepy-active">3</span>
    </div>
</div>
{% endblock %}
{% block main %}
<div class="col-md-12">
    
<h1>Event</h1>
{{ event.title  }}

<h1>Date and time</h1> 
{{ event.date_and_time }}
<br>

<h1>Mails</h1>
Mails were sent.
<br>
{{ mails }}

</div>
{% endblock %}
