{% extends 'base2.html' %}

{% block top_main %}
<div class="col-md-3">
    <h2>
        Event Created
    </h2>    
</div>
<div class="col-md-3">
    <div class="col-md-1 stepy">
        <span class="badge">1</span>  
    </div>
    <div class="col-md-1 stepy">
        <span class="badge">2</span>
    </div>
    <div class="col-md-1 stepy">
        <span class="badge stepy-active">3</span>
    </div>
</div>
{% endblock %}
{% block main %}

<h1>Event</h1>
{{ event.title  }}

<h1>Date and time</h1> 
{{ event.date_and_time }}
<h2>Mails</h2>
<form action="#" method="post">
    {% csrf_token %}
    <button type="submit" value="Sent Emails" class="btn btn-default" name="sentMails">Sent Emails Now</button>
</form>
<br>
<!--{{ mails|safe }}-->

{% endblock %}
