{% extends 'base2.html' %}
{% load event_tags %}

{% block header %}
<style>

</style>
{% endblock %}

{% block top_main %}
<div class="col-md-4">
    <h2>
        Specify Marketing Goal
    </h2>    
</div>
<div class="col-md-3">
    <div class="col-md-1 stepy">
        <span class="badge">1</span>  
    </div>
    <div class="col-md-1 stepy">
        <span class="badge stepy-active">2</span>
    </div>
    <div class="col-md-1 stepy">
        <span class="badge">3</span>
    </div>
</div>
{% endblock %}

{% block main %}
<div class="col-md-12">
    <div class="col-md-6 strategies">
    <form action="#" method="post" role="form" align="left">
        <button type="submit" value="margin" class="btn btn-link" name="strategyLoyalty">Loyalty</button>
        <button type="submit" value="loyalty" class="btn btn-link" name="strategyMargin">Margin</button>
    </form>
    </div>
</div>
{% endblock %}

{% block footer %}
<script>
</script>
{% endblock %}
