body {
    height: 100%;
    background-color: #e5e5e5;
    text-align: center;
    color:#4b473f;
}


.mon, .tue, .wed, .thu, .fri, .sat, .sun {
    text-align:center;
    font-size: 18px;
}

.filled > button {
    color:#E68B12;
    text-decoration : underline;
}

.strategies,
.strategies > form > button
{
    color:inherit;
    top: 180px;
    text-align: left;
    font-size: 80px;
}


.calendar
{
    vertical-align: middle;        
    color:#4b473f;
    font-size: 14px;
    display:flex;
    top:100px;
}

.stepy,
div.stepy > span
{
    font-size: 28px;
    vertical-align: middle;
    margin-top: 10px;
    text-align: left;
    margin-left:30px;
    margin-right: 20px;
}

.stepy-active{
    background-color:black;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
}

.stepy-active
{

}

table {
    border-collapse: collapse;
    border-style: hidden;
}

table td, table th {
    border: 1px dashed black;
}

button.dayNumberNoEvents {
    color : #4b473f;
    font-weight: bold;
}

th.month{
    font-size: 26px;
    text-align : center;
}

