{% load static %}
<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Home{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">

    <!-- Custom styles for this template -->
    <link href={% static "bootstrap/css/cover.css" %} rel="stylesheet">

    {% block header %}
    {% endblock %}
</head>
<body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Cover</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="/calendar/">Calender</a></li>
                  <li><a href="/event/create">Events</a></li>
                  <li><a href="/admin/">Administration</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
    {% block main %}
            <h1 class="cover-heading">An error occured!</h1>
            <p class="lead">Please contant an administrator.</p>
            <p class="lead">
              <a href="/event/create" class="btn btn-lg btn-default">Create event</a>
            </p>
    {% endblock %}
          </div>


        </div>

      </div>

    </div>


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
    {% block footer %}
      <div class="mastfoot">
        <div class="inner">
          <p>Recommendation engine by <a href="https://danielhnyk.cz">Daniel Hnyk</a>.</p>
        </div>
      </div>
    {% endblock %}
</body>
</html>
