
.noselect {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal1 .clndr .clndr-controls {
  position: relative;
  color: #e66b6b;
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 20px 0 0 0;
  text-align: center;
  background: #333333;
  min-height: 78px;
}
.cal1 .clndr .clndr-controls .month {
  text-align: center;
  color:#5F9EA0;
  font-size: 24px;
  font-family: Gotham-Book;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button { 
  position:absolute;
  right: 30px;
  top: 12px;
  width: 30px;
  height: 43px;
  text-indent: -4000px;
  background: url(../images/arrows.png) no-repeat -30px 0px;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive:hover {
  cursor: default;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button { 
  position: relative;
  left: 30px;
  top: 12px;
  width: 30px;
  height: 43px;
  text-indent: -4000px;
  background: url(../images/arrows.png) no-repeat -1px 0px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive:hover {
  cursor: default;
}
.cal1 .clndr .clndr-table {
  table-layout: fixed;
  width:98%;
  height: 300px;
  margin:30px auto;
  background: #333333;
}
.cal1 .clndr .clndr-table .header-days {
  font-size: 0.85em;
  font-weight: 600;
}
.cal1 .clndr .clndr-table .header-days .header-day {
   vertical-align: middle;
   text-align: center;
  color:#5F9EA0;
  font-size:16px;
  font-family: Gotham-Book;
}
.cal1 .clndr .clndr-table tr {
    height:45px;
}
.cal1 .clndr .clndr-table tr td {
  vertical-align: top;
}
.cal1 .clndr .clndr-table tr .day {
  width: 100%;
  height: inherit;
  color:#3a3b36;
  vertical-align:middle;
}

.cal1 .clndr .clndr-table tr .day.today {
      color: #5482AB!important;
    text-decoration: none;
    border: 1px solid #5F9EA0;
 }
  
.cal1 .clndr .clndr-table tr .day.today:hover {
    color:#000;
}
.cal1 .clndr .clndr-table tr .day.today.event {
     background-color: #333333;
   color: #FFF;
   padding:0;
}
.day.today.event:hover{
  color:#FFF;
}
.cal1 .clndr .clndr-table tr .day .day-contents {
  box-sizing: border-box;
  color: #FFF;
  font-size: 15px;
  font-family: MavenPro-Regular;
  text-align: center;
  cursor: pointer;
    padding: 10px;
}
.cal1:hover .clndr:hover .clndr-table tr:hover .day:hover .day-contents:hover {
  
}
.cal1 .clndr .clndr-table tr .empty,
.cal1 .clndr .clndr-table tr .adjacent-month {
  width: 100%;
  height: inherit;
  color:#999;
}

@media all and (max-width:1920px) {
.cal1 .clndr .clndr-controls {
    padding: 40px 0 0 0;
}
}
@media all and (max-width:1680px) {
.cal1 .clndr .clndr-controls {
    padding: 40px 0 0 0;
}
}

@media all and (max-width:1600px) {
.cal1 .clndr .clndr-controls {
    padding: 40px 0 0 0;
}
}

@media all and (max-width:1440px) {
.cal1 .clndr .clndr-controls {
    padding: 40px 0 0 0;
}
}
@media all and (max-width:1366px) {
.cal1 .clndr .clndr-controls {
    padding: 40px 0 0 0;
}
}
@media all and (max-width:1280px) {
.cal1 .clndr .clndr-controls {
    padding: 40px 0 0 0;
}
}

@media all and (max-width:1024px) {
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
  left: 24px;
}
.cal1 .clndr .clndr-controls .month {
  font-size: 22px;
  padding: 3px 0 0 0;
  }
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
  right:24px;
}
.cal1 .clndr .clndr-controls {
  padding: 1.5em 0 0 0;
  min-height: 85px;
}
.cal1 .clndr .clndr-controls {
  min-height: 70px;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
  top: 24px;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
  top: 24px;
}
}
@media all and (max-width:768px) {
  .cal1 .clndr .clndr-controls {
    min-height: 60px;
    margin: 38px 0 0 0;
  }
}
@media all and (max-width:640px) {
.cal1 .clndr .clndr-controls {
  padding: 1em 0 0 0;
  min-height: 70px;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
  top: 14px;
  left: 5px;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
  top: 14px;
  right: 5px;
}
}

@media all and (max-width:568px){
.cal1 .clndr .clndr-controls .month {
    font-size: 20px;
    padding: 3px 0px 0px;
}
}

@media all and (max-width:480px) {
  .cal1 .clndr .clndr-controls .month {
    font-size: 1.2em;
  }
  .cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
    top: 9px;
  }
  .cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
    top: 9px;
  }
  .cal1 .clndr .clndr-controls {
    min-height: 60px;
  }
  .cal1 .clndr .clndr-table .header-days .header-day {
    font-size: 1.4em;
  }
  .cal1 .clndr .clndr-table tr .day .day-contents {
    font-size: 0.875em;
  }
}
@media screen and (max-width: 320px) {
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
  left: 7px;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
  right: 7px;
}
  .cal1 .clndr .clndr-table{
    width:98%;
  }
  .cal1 .clndr .clndr-table tr {
    height: 35px;
  }
  .cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
    top: 9px;
  }
  .cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
    top: 9px;
  }
  .cal1 .clndr .clndr-table .header-days .header-day {
    font-size: 1.2em;
  }
  .cal1 .clndr .clndr-controls .month {
    padding: 9px 0 0 0;
  } 
  .cal1 .clndr .clndr-controls .month {
    font-size: 18px;
    }
  .cal1 .clndr .clndr-table tr .day .day-contents {
    font-size: 0.875em;
  }
  .cal1 .clndr .clndr-controls {
    min-height: 50px;
    padding: 0.6em 0 0 0;
  }
  .cal1 .clndr .clndr-table {
    height: 230px;
    }
}
