/*--
Author: Designmaz
Author URL: https://www.designmaz.net
License URL: https://www.designmaz.net/licence/
--*/

/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
/*end reset*/

/*-- Fonts --*/
@font-face{
	font-family: 'MavenPro-Regular';
	src:url(../fonts/MavenPro-Regular.ttf) format('truetype');
}
@font-face{
	font-family: 'Petitinho';
	src:url(../fonts/Petitinho.ttf) format('truetype');
}
@font-face{
	font-family: 'Gotham-Book';
	src:url(../fonts/Gotham-Book.ttf) format('truetype');
}
@font-face{
	font-family: 'CaviarDreams';
	src:url(../fonts/CaviarDreams.ttf) format('truetype');
}
/*-- Fonts --*/

/*-- Index-Page-Styling --*/

.clear {
	clear: both;
}

body {
/*	background-color: rgba(120, 128, 140, 1); */
}

h1 {
    text-align: center;
    font-family: CaviarDreams;
    font-weight: bold;
    font-size: 40px;
    margin: 40px 0;
    color: #333333;
}

.content {
	width: 100%;
	margin: 0 auto;
}

/*-- Calender - Box - Styling --*/

.calender {
    width: 100%;
    float: left;
    background-color: #333333;
    height: 500px;
}

/*-- Calender - Box - Styling --*/


/*-- Date - Box - Styling --*/

.date {
    width: 49%;
    float: left;
    background-color: rgba(0, 139, 139, 0.62);
    height: 500px;
}

/*-- Navbar - Styling --*/

img {
	width: 80%;
}

div#dd1 span {
    z-index: 9999999;
    position: absolute;
    left: 15px;
    top: 15px;
}
.dr1{
    position: relative;
  outline: none;
  float:left;
  cursor: pointer;
  min-height:60px;
}
.wrapper-dropdown-2,.wrapper-dropdown-3 {
    position: relative;
  outline: none;
  float:left;
   width: 14%;
   min-height:20px;
     cursor: pointer;
}
.wrapper-dropdown-1 .dropdown ,.wrapper-dropdown-3 .dropdown,.wrapper-dropdown-4 .dropdown{
    width: 150px;
    top: 50px;
    position: absolute;
    left: 15px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    list-style: none;
    z-index: 1;
    background-color: #FFF;
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
    -o-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
    max-height: 0;
    overflow: hidden;
    z-index: 99999;
    padding-left: 0px;
    font-family: Gotham-Book;
}
.wrapper-dropdown-2 .dropdown ,.wrapper-dropdown-4 .dropdown{
  /* Size & position */
    position: absolute;
    width:171px;
    right: 0px;
    /* Styles */
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    list-style: none;
    z-index:1;
    background-color: #FFF;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
  -o-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
    top: 62px;
    /* Hiding */
    max-height: 0;
    overflow: hidden;
}
.wrapper-dropdown .dropdown li {
    position: relative; /* Enable absolute positioning for checkboxes */
}
.wrapper-dropdown-1 .dropdown li,.wrapper-dropdown-2 .dropdown li,.wrapper-dropdown-3 .dropdown li,.wrapper-dropdown-4 .dropdown li{
  border-bottom: 1px solid #F0F0F0;
  float: none;
  margin: 0;
    width: 100%;
}
.wrapper-dropdown-1 .dropdown li,.wrapper-dropdown-3 .dropdown li,.wrapper-dropdown-4 .dropdown li{
  padding:8px;
}
.wrapper-dropdown-1 .dropdown li:hover,.wrapper-dropdown-3 .dropdown li:hover ,.wrapper-dropdown-4 .dropdown li:hover {
  background:#FDFDFD;
}
.odd{
}
.wrapper-dropdown-1 .dropdown li:last-child,.wrapper-dropdown-3 .dropdown li:last-child,.wrapper-dropdown-2 .dropdown li:last-child,.wrapper-dropdown-4 .dropdown li:last-child{
  border-bottom:none;
}
.wrapper-dropdown-1 .dropdown li a,.wrapper-dropdown-2 .dropdown li a,.wrapper-dropdown-3 .dropdown li a ,.wrapper-dropdown-4 .dropdown li a {
    display: block;
  text-decoration: none;
  color:#777;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-radius: 0;
    border: none;
     text-align: left;
    padding-left: 1em;
}
/* Active state */
.wrapper-dropdown-1.active:after,.wrapper-dropdown-2.active:after,.wrapper-dropdown-3.active:after,.wrapper-dropdown-4.active:after{
    border-width: 0 6px 6px 6px;
}
.wrapper-dropdown-1.active .dropdown,.wrapper-dropdown-2.active .dropdown,.wrapper-dropdown-3.active .dropdown ,.wrapper-dropdown-4.active .dropdown {
   max-height: 400px;
}
.wrapper-dropdown-2 .dropdown li a ,.wrapper-dropdown-4 .dropdown li a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 10px;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-transform: capitalize;
  font-size: 1em;
  font-weight: 100;
}

/*-- Navbar - Styling --*/

div#txt {
    text-align: center;
    font-size: 50px;
    font-family: Petitinho;
    text-shadow: 1px 1px 2px #000;
    margin-top: 50px;
    color: #333333;
}

.dmy {
    text-align: center;
    font-family: Gotham-Book;
    font-size: 33px;
    margin-top: 50px;
    color: #FFF;
    padding: 0 10px;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-family: Gotham-Book;
    color: #EEE;
    text-decoration: underline;
    margin-top: 50px;
}

ul.reminder {
    padding-left: 175px;
    margin: 10px 0 ;
    font-size: 20px;
    font-family: Mavenpro-Regular;
    color: #FFF;
    line-height: 30px;
}

/*-- Date - Box - Styling --*/

/*-- Footer - Styling --*/

.footer {
    text-align: center;
    margin-top: 100px;
}
.footer p {
    font-family: Gotham-Book;
    color: #000;
    font-weight: bold;
}
.footer a {
    font-family: Gotham-Book;
    color: #000;
    text-decoration: none;
}
.footer a:hover {
    color: #1ec8fa;
    text-decoration: underline;
}

/*-- Footer - Styling --*/

/*-- Index-Page-Styling --*/

/*-- Responsive - Code --*/

@media screen and  (max-width:1920px) {
	h1 {
		margin: 100px 0;
	}
	.content {
    	width: 65%;
	}
	div#txt {
	    margin-top: 70px;
	}
	.dmy {
	    margin-top: 60px;
	}
	ul.reminder {
	    padding-left: 214px;
	    margin: 20px 0px;
	    line-height: 32px;
	}
	.footer {
		margin-top: 200px;
	}
}

@media screen and  (max-width:1680px) {
	.content {
    	width: 70%;
	}
	ul.reminder {
    	padding-left: 197px;
	}
	.dmy {
		font-size: 30px;
	}
}

@media screen and  (max-width:1600px) {
	h1 {
		margin: 80px 0;
	}
	ul.reminder {
    	padding-left: 182px;
	}
	.footer {
		margin-top: 150px;
	}
}

@media screen and  (max-width:1440px) {
	h1 {
		margin: 70px 0;
	}
	.dmy {
    	font-size: 27px;
	}
	ul.reminder {
    	padding-left: 154px;
	}
	.footer {
		margin-top: 100px;
	}
}

@media screen and  (max-width:1366px) {
	h1 {
	    margin: 50px 0px;
	}
	.dmy {
    	font-size: 25px;
	}
	ul.reminder {
    	padding-left: 140px;
	}
	.footer {
		margin: 50px 0 20px 0;
	}
}

@media screen and (max-width: 1280px){
	.dmy {
	    font-size: 23px;
	}
	.wrapper-dropdown-1 .dropdown ,.wrapper-dropdown-3 .dropdown,.wrapper-dropdown-4 .dropdown{
	    top: 45px;
	}
	ul.reminder {
	    padding-left: 129px;
	}
}

@media screen and  (max-width:1024px) {
	.content {
    	width: 80%;
	}
	.dmy {
	    font-size: 21px;
	}
	.wrapper-dropdown-1 .dropdown ,.wrapper-dropdown-3 .dropdown,.wrapper-dropdown-4 .dropdown{
	    top: 43px;
	}
	ul.reminder {
	    padding-left: 109px;
	}
	.footer {
    	margin: 80px 0 20px 0;
	}
}

@media screen and  (max-width:966px) {
	.wrapper-dropdown-1 .dropdown ,.wrapper-dropdown-3 .dropdown,.wrapper-dropdown-4 .dropdown{
	    top: 40px;
	}
	ul.reminder {
	    padding-left: 95px;
	}
}

@media screen and  (max-width:853px) {
	.content {
    	width: 90%;
	}
}

@media screen and  (max-width:800px) {
	.content {
		width: 90%;
	}
	.dmy {
    	font-size: 20px;
	}
	.wrapper-dropdown-1 .dropdown ,.wrapper-dropdown-3 .dropdown,.wrapper-dropdown-4 .dropdown{
	    top: 38px;
	}
	ul.reminder {
	    padding-left: 85px;
	}
}

@media screen and  (max-width:768px) {
	.content {
	    width: 95%;
	}
}

@media screen and  (max-width:736px) {
	ul.reminder {
	    padding-left: 75px;
	}
}

@media screen and  (max-width:667px) {
	ul.reminder {
	    padding-left: 60px;
	}
}

@media screen and  (max-width:603px) {
	h1 {
    	font-size: 35px;
	}
	img {
		width: 150%;
	}
	h2 {
	    font-size: 28px;
	    margin-top: 50px;
	}
	div#txt {
	    font-size: 45px;
	}
	.wrapper-dropdown-1 .dropdown ,.wrapper-dropdown-3 .dropdown,.wrapper-dropdown-4 .dropdown{
	    top: 45px;
	}
	ul.reminder {
    	padding-left: 55px;
	}
	.footer p {
    	font-size: 14px;
	}
}

@media screen and  (max-width:568px) {
	h1 {
    	font-size: 32px;
	}
	ul.reminder {
	    padding-left: 40px;
	}
}

@media screen and  (max-width:480px) {
	.content {
    	width: 80%;
	}
	.calender {
    	width: 100%;
    	margin-bottom: 10px;
	}	
	.date {
    	width: 100%;
	}
	ul.reminder {
    	padding-left: 100px;
	}
}

@media screen and  (max-width:414px) {
	.content {
    	width: 90%;
	}
	.calender {
    	width: 100%;
    	margin-bottom: 10px;
	}	
	.date {
    	width: 100%;
	}
}

@media screen and  (max-width:384px) {
	ul.reminder {
	    padding-left: 80px;
	}
}

@media screen and  (max-width:375px) {
	.calender {
	    width: 100%;
	    margin-bottom: 10px;
	}	
	.date {
    	width: 100%;
	}
	ul.reminder {
	    padding-left: 75px;
	}
	.footer p {
	    font-size: 13px;
	}
}

@media screen and  (max-width:320px) {
	h1 {
    font-size: 25px;
	}
	.content {
	    width: 90%;
	}
	.calender {
	    width: 100%;
	    margin-bottom: 10px;
	}
	.date {
	    width: 100%;
	}
	ul.reminder {
	    padding-left: 50px;
	}
	.footer p {
	    font-size: 11px;
	}
	.wrapper-dropdown-1 .dropdown {
	    top: 49px;
	    left: 15px;
	}
}

/*-- Responsive - Code --*/
